# Database information

DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=http://localhost:3000/
DB_PORT=3306

# Email configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

# Outbound port
PORT= 3000

# JWT token
JWT_SECRET=