# Dependencias de Node
node_modules/

# Variables de entorno
.env

# Logs
logs/
*.log
npm-debug.log*

# Archivos generados por Tailwind
src/public/css/output.css

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Editor
.vscode/

# Configuraciones locales
.idea/

# Archivos de pruebas
coverage/
